.barang-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.barang-list-header {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
    padding: 2rem;
}

.header-title {
    text-align: center;
}

.barang-images {
    max-width: 225px;
    max-height: 225px;
}

.action {
    display: flex;
    flex-direction: column;
    border: 0;
    justify-content: center;
    gap: .5rem;
    margin-top: 2rem;
}